<% if (flash && flash.messages) { %>
<div class="flash-message-container">
  <% for (let message of flash.messages) { %>
  <div class="flash-message <%= flash.type %>">
    <p><%= message %></p>
  </div>
  <% } %>
</div>
<% } %>
